{% extends 'base.html' %}

{% block title %}Selection{% endblock title %}
Welcome to the People Page
{% block content %}
  {% for Selection in selection_list %}
    <div class="card">
      <div class="card-header">
          <br>
          <br>
        <span class="font-weight-bold">{{ Selection.Preference }}</span>
          <br>
        <span class="font-weight-bold">Budget Amount: {{ Selection.Budget_Dollar }} </span>
          <br>
        <span class="font-weight-bold">Time Frame (in hours): {{ Selection.Time_Frame_Hour }} </span>
          <br>


      </div>

    </div>
  {% endfor %}
{% endblock content %}
